<article>
  <h2 class="ripped-title">Our Project</h2>
  <p class="ripped-text">
    Initially, I decided to create this page solely for this video, but as I was building it, I
    realized this page could be much more. The video you will see next, you might remember it. We
    were working on it at the beach but I had never finished it before.. Now it holds moments from
    since we began up until our end.
  </p>
  <div class="airpod-arrow">
    <p>Put on your headphones and watch carefully..</p>
    <img src="airpodsArrow.png" />
  </div>

  <div class="video-container">
    <iframe
      src="https://player.vimeo.com/video/1146732860?title=0&byline=0&portrait=0&badge=0&autopause=0&dnt=1"
      frameborder="0"
      allow="fullscreen; picture-in-picture"
      loading="lazy"
      title="Believe It"
    ></iframe>
  </div>
</article>
