<div class="main-content">
  <div class="header-text-container">
    <h1 class="title">
      A Repository <br />
      of Our Time
    </h1>
    <p class="subtitle">#always remembered, forever treasured.</p>

    <div class="navigation-buttons">
      <button class="nav-button" routerLink="/the-letter">For Your Eyes Only</button>
      <button class="nav-button" routerLink="/the-gallery">Shared Moments</button>
    </div>
  </div>

  <!-- Content to enable scrolling (mock memories) -->
  <div class="content-spacer">
    <p>This space was built for you and you only.</p>
    <p>
      Take your time to explore it and experience it, and emerge yourself in the memories it holds.
    </p>
  </div>
  <section class="ripped-paper-section">
    <app-ripped-paper-section></app-ripped-paper-section>
  </section>
  <div class="content-spacer"></div>
  <app-scroll-fab></app-scroll-fab>
  <app-footer></app-footer>
</div>
