/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #2a3d66;
  --secondary-color: #a9b8d9;
  --accent-color: #d1952e;
  --text-heading-color: #1f2a45;
  --text-body-color: #4c4c4c;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
