<div @slidePage class="page gallery-page">
  <button class="back-btn" routerLink="home">← Back to Home</button>
  <h1 class="gallery-title">Shared Moments</h1>

  <p class="gallery-intro">
    This is a digital copy of the pictures used in the album. Every single one of these images was
    created and edited carefully, and they portray how I see you and what I feel for you. Whether
    you are looking at the digital or physical version of these photos, take your time with each
    one, and don’t miss the details.
  </p>

  <div class="gallery-grid">
    <figure
      class="gallery-item"
      *ngFor="let item of gallery; trackBy: trackById"
      (click)="openPreview(item)"
    >
      <img [src]="item.url" />
      <figcaption *ngIf="item.caption">{{ item.caption }}</figcaption>
    </figure>
  </div>

  <!-- Image Preview Modal -->
  @if (selectedImage) {
  <div class="lightbox" (click)="closePreview()">
    <img [src]="selectedImage.url" (click)="$event.stopPropagation()" />
    @if (selectedImage.caption) {
    <p class="lightbox-caption">{{ selectedImage.caption }}</p>
    }
    <button class="close-btn">x</button>
  </div>
  }
  <div class="gallery-external-link">
    <p class="gallery-external-text">
      Some moments didn’t make it here. Every other memory we shared, you can find them all in the
      Google Drive folder below. <br />I've deleted them all from my phone, as I'm sure you've also
      done or will do eventually. Regardless, they will forever live here, and I guess, only here.
    </p>

    <a
      class="gallery-drive-link"
      href="https://drive.google.com/drive/folders/13-VN4BvDPzNULW-BZzrFFhf6RwgXOgku?usp=sharing"
      target="_blank"
      rel="noopener noreferrer"
    >
      View our full story here.
    </a>
  </div>
</div>
<app-footer [showReviewForm]="false"></app-footer>
